.profile {
    width:40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    font-family: 'Lato';
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    font-family: 'Lato';
    line-height: 1.6;
    word-break: break-word;
    min-height: 400px !important;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}
.main-visual {
    overflow: hidden;
}
.main-visual .img {
    width:100%;
}
.main-visual .txt-box  {
    position: absolute;
    bottom: 150px;
    right:100px;
    color:#fff;
}
.main-visual .txt-box .main-txt  {
    font-size: 32px;
}
.main-visual .txt-box .sub-txt  {
    font-size: 18px;
}
#preview img {
    height:100px;
    width:100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}



